@font-face {
  font-family: AGaramondPro;
  src: url("/fonts/AGaramondPro-Regular.otf") format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: AGaramondPro;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.zigzag-border-bottom {
  position: relative;
}
.zigzag-border-bottom:after {
  background: radial-gradient(circle, #ffffff 10px, transparent 0),
    linear-gradient(0deg, #ffffff 18px, transparent 0),
    linear-gradient(-0deg, #ffffff 18px, transparent 0);
  background-position: left-bottom;
  background-repeat: repeat-x;
  background-size: 33px 37px;
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 34px;
}

.layoutContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.layout {
  width: 100%;
  margin-top: 340px;
  height: calc(100% - 340px);
  @media (min-width: 541px) {
    margin-top: 400px;
    height: calc(100% - 400px);
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 340px;
  @media (min-width: 541px) {
    height: 400px;
  }
  // padding: 10px 0;

  .cap-complete {
    position: absolute;
    z-index: 1;
    width: 110px;
    top: 170px;
    @media (min-width: 541px) {
      width: 130px;
      top: 205px;
      left: 60px;
    }
    @media (min-width: 930px) {
      width: 180px;
      top: 185px;
      left: 80px;
    }
    img {
      width: 100%;
    }
  }
  .topHeader {
    background-color: rgb(237, 235, 230);
    height: 70%;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    @media (min-width: 541px) {
      align-content: inherit;
    }
    h3 {
      margin: 0;
    }
    .title {
      width: 100%;
      order: 3;
      max-width: 500px;
      margin: auto;
      min-width: 280px;
      padding-top: 20px;
      @media (min-height: 1023px) {
        padding-top: 0;
        padding-bottom: 20px;
      }
      // padding-top: 25px;
      // padding-bottom: 30px;
      @media (min-width: 930px) {
        padding-bottom: 0;
        order: 2;
        width: 25%;
      }
      img {
        width: 100%;
      }
    }
    .search-bar {
      display: flex;
      order: 1;
      width: 40%;
      @media (min-width: 930px) {
        order: 1;
        width: 15%;
        margin-left: 5%;
        align-self: initial;
        min-width: 100px;
      }
      &:hover,
      &:focus-within {
        .search-icon {
          .MuiSvgIcon-root {
            path {
              fill: rgb(191, 168, 117);
            }
          }
        }
        .MuiInputBase-root {
          border-color: rgb(191, 168, 117);
          border-width: 1px;
          border-style: solid;
        }
      }

      .search-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        padding-right: 15px;
        @media (min-width: 541px) {
          padding-right: 25px;
        }
        .MuiSvgIcon-root {
          @media (min-width: 541px) {
            font-size: 3.5rem;
          }
          path {
            fill: rgb(124, 124, 124);
          }
        }
      }
      .MuiInputBase-root {
        @media (min-width: 541px) {
          font-size: 1.7rem;
        }
        font-family: AGaramondPro;
      }
    } // .search-bar
    .menu-top-header {
      width: 30%;
      align-self: baseline;
      order: 2;
      display: flex;
      @media (min-width: 930px) {
        order: 3;
        width: 12%;
        min-width: 200px;
        margin-right: 3%;
        align-self: initial;
      }
      div {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 0.7rem;
        @media (min-width: 541px) {
          font-size: 1rem;
        }
        img {
          width: 100%;
          padding: 5px;
          @media (min-width: 541px) {
            padding: 10px;
          }
        }
        &:hover {
          color: rgb(191, 168, 117);
          cursor: pointer;
        }
      }
    }
  }

  .MuiTabs-root {
    height: 30%;
    width: 100%;
    display: flex;
    flex-flow: row;
    overflow: hidden;
    align-items: center;

    // @media (min-width: 541px) {
    //   height: 30%;
    // }

    .MuiTabs-flexContainer {
      display: flex;
      justify-content: flex-start;
      @media (min-width: 541px) {
        justify-content: center;
      }
      // gap: 20px;
    }
    .MuiTabs-indicator {
      display: none;
    }
    .MuiTab-root {
      font-size: 0.75rem;
      min-width: 120px;
      font-family: AGaramondPro;
      letter-spacing: 0.19em;
      @media (min-width: 541px) {
        min-width: 250px;
        font-size: 1.7rem;
      }
      &.MuiTab-labelIcon {
        .MuiTab-wrapper {
          flex-direction: row;
          img {
            display: none;
            width: 1.2rem;
            margin-right: 8px;
            margin-bottom: 0;
          }
        }

        &.Mui-selected {
          .MuiTab-wrapper {
            img {
              display: inherit;
            }
          }
        }
      }
      &.Mui-selected {
        &.MuiTab-textColorInherit {
          color: rgb(191, 168, 117);
        }
      }
    } //MuiTab-root
  } //.MuiTabs-root
} //.header

#__next {
  height: 100%;
}

.fullpage-base-container {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.fullpage-base-container::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
  height: 6px;
  @media (min-width: 541px) {
    width: 20px; /* width of the entire scrollbar */
    height: 20px;
  }
}

.fullpage-base-container::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}

.fullpage-base-container::-webkit-scrollbar-thumb {
  // background-color: rgb(237, 235, 230); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid rgb(237, 235, 230); /* creates padding around scroll thumb */
  @media (min-width: 541px) {
    border: 3px solid rgb(237, 235, 230); /* creates padding around scroll thumb */
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
// .fullpage-base-container::-webkit-scrollbar {
//   width: 6px; /* width of the entire scrollbar */
//   height: 6px;
//   @media (min-width: 600px) {
//     width: 20px; /* width of the entire scrollbar */
//     height: 20px;
//   }
// }

// .fullpage-base-container::-webkit-scrollbar-track {
//   background: white; /* color of the tracking area */
// }

// .fullpage-base-container::-webkit-scrollbar-thumb {
//   // background-color: rgb(237, 235, 230); /* color of the scroll thumb */
//   border-radius: 20px; /* roundness of the scroll thumb */
//   border: 1px solid; /* creates padding around scroll thumb */
//   border-image-source: linear-gradient(to left, #00c853, #b2ff59);
//   @media (min-width: 600px) {
//     border: 5px solid; /* creates padding around scroll thumb */
//     border-image-slice: 1;
//     border-image-source: linear-gradient(
//       90deg,
//       rgb(237, 235, 230),
//       rgba(255, 0, 0, 0) 70.71%
//     );
//     // border-image-slice: 50%;
//     // border-image-width: 100%;
//     // border-image-repeat: initial;
//     // border-image-outset: 5;
//     // border-image-source: url("/border-diamonds.png");
//     // border-radius: 20px; /* roundness of the scroll thumb */
//   }
// }
