@font-face {
  font-family: AGaramondPro;
  src: url("/fonts/AGaramondPro-Regular.otf") format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: AGaramondPro;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.zigzag-border-bottom {
  position: relative;
}
.zigzag-border-bottom:after {
  background: radial-gradient(circle, #ffffff 10px, transparent 0),
    linear-gradient(0deg, #ffffff 18px, transparent 0),
    linear-gradient(-0deg, #ffffff 18px, transparent 0);
  background-position: left-bottom;
  background-repeat: repeat-x;
  background-size: 33px 37px;
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 36px;
}

.layoutContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.layout {
  width: 100%;
  margin-top: 340px;
  height: calc(100% - 340px);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 340px;
  // padding: 10px 0;
  .topHeader {
    background-color: rgb(237, 235, 230);
    height: 70%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    h3 {
      margin: 0;
    }
  }
  .MuiTabs-root {
    height: 30%;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    overflow: hidden;

    .MuiTabs-flexContainer {
      display: flex;
      justify-content: center;
      // gap: 20px;
    }
    .MuiTabs-indicator {
      display: none;
    }
    .MuiTab-root {
      font-size: 0.9rem;
      min-width: 150px;
      font-family: AGaramondPro;
      @media (min-width: 600px) {
        min-width: 250px;
        font-size: 1.7rem;
      }
      &.MuiTab-labelIcon {
        .MuiTab-wrapper {
          flex-direction: row;
          img {
            display: none;
            width: 1.2rem;
            margin-right: 8px;
            margin-bottom: 0;
          }
        }

        &.Mui-selected {
          .MuiTab-wrapper {
            img {
              display: inherit;
            }
          }
        }
      }
      &.Mui-selected {
        &.MuiTab-textColorInherit {
          color: rgb(191, 168, 117);
        }
      }
    }
  }
}

#__next {
  height: 100%;
}

.fullpage-base-container {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.fullpage-base-container::-webkit-scrollbar {
  /* display: none; */
}

// .fullpage-vertical-container {
//   /* Hide scrollbar for IE, Edge and Firefox */
//   -ms-overflow-style: none; /* IE and Edge */
//   scrollbar-width: none; /* Firefox */

//   section {
//     height: 100%;
//   }
// }

// /* Hide scrollbar for Chrome, Safari and Opera */
// .fullpage-vertical-container::-webkit-scrollbar {
//   /* display: none; */
// }
